button.discussion-like-button {
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

button.discussion-like-button-active {
  text-align: center;
  cursor: pointer;
  background-color: #DCDBDB;
  border: none;
  border-radius: 5px;
}
